set devices template {{ PS_TEMPLATE_NAME }} config interfaces vni {{ WAN1_INTF }} description "INT-WAN1"
set devices template {{ PS_TEMPLATE_NAME }} config interfaces vni {{ WAN2_INTF }} description "INT-WAN2"

set devices template {{ PS_TEMPLATE_NAME }} config system vnf-manager ip-addresses [ {{ VNF_IPADDRESS1 }} {{ VNF_IPADDRESS2 }} ]
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} hold-time 90
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} graceful-restart enable
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} graceful-restart maximum-restart-time 120
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} graceful-restart recovery-time 120
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} graceful-restart select-defer-time 120
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} graceful-restart stalepath-time 120
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} graceful-restart dynamic-peer-restart-time 0

set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 1GW1 match family inet-vpn
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 1GW1 match community "(^|,)([0-9]*:11)($|,)"
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 1GW1 action filter accept
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 1GW1 action community 8009:8009
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 1GW1 action community-action set-specific
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 1GW1 action set-local-preference 80
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 2GW2 match family inet-vpn
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 2GW2 match community "(^|,)([0-9]*:12)($|,)"
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 2GW2 action filter accept
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 2GW2 action community 8009:8009
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 2GW2 action community-action set-specific
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 2GW2 action set-local-preference 60
move devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 2GW2 first
move devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy Import-From-SDWAN-Policy term 1GW1 first

set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term Wildcard match family inet-vpn
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term Wildcard action filter accept
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term Wildcard action community {{ LCC }}:10
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term Wildcard action community-action set-specific
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term VersaPvt-Wildcard match family versa-private
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term VersaPvt-Wildcard action filter accept
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term VersaPvt-Wildcard action community {{ LCC }}:10
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} routing-peer-policy TO_SDWAN term VersaPvt-Wildcard action community-action set-specific
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} group Controllers-Group family inet unicast
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR protocols bgp bgp {{ ORG_ID }} group Controllers-Group export TO_SDWAN

set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_IN match source zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_IN match services predefined-services-list [ ESP ICMP ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_IN match services services-list [ IPSEC IPSecAH ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_IN set action allow
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_OUT match destination zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_OUT match services predefined-services-list [ ESP ICMP ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_OUT match services services-list [ IPSEC IPSIPSecAH ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy IPSEC_OUT set action allow
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy ARP_IN match source zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy ARP_IN match ether-type ARP
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy ARP_IN set action allow
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy ARP_OUT match destination zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy ARP_OUT match ether-type ARP
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy ARP_OUT set action allow
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy DHCP_IN match source zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy DHCP_IN match services services-list [ DHCP-67 DHCP-68 ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy DHCP_IN set action allow
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy DHCP_OUT match destination zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy DHCP_OUT match services services-list [ DHCP-67 DHCP-68 ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy DHCP_OUT set action allow

set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy INT_OUT match source zone zone-list [ Intf-LAN1-Zone W-ST-LAN1-VRF-INT-WAN1 W-ST-LAN1-VRF-INT-WAN2 ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy INT_OUT match destination zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone L-ST-LAN1-VRF-INT-WAN1 L-ST-LAN1-VRF-INT-WAN2 ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy INT_OUT set action allow
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy INT_IN match source zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone L-ST-LAN1-VRF-INT-WAN1 L-ST-LAN1-VRF-INT-WAN2 ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy INT_IN set action allow

####################################################
#Note: INT_OUT and INT_IN are only incase of LIB. Also we need to modify the INT-OUT and INT_IN rules based on the number of VRFs required for LIBs.
####################################################
{% if ((LIB1 is defined and LIB1 == 'ACTIVE') or (LIB2 is defined and LIB2 == 'ACTIVE'))%}
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy WAN_IN match source zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy WAN_IN set action deny
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy WAN_OUT match destination zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone ]
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies qos-policy-group Default-Policy rules qos-policy WAN_OUT set action deny

set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service IPSEC protocol UDP
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service IPSEC destination-port 4790,4500,500
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service IPSecAH protocol AH
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service IPSIPSecAH protocol AH
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service DHCP-67 protocol UDP
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service DHCP-67 port 67
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service DHCP-68 protocol UDP
set devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} objects services service DHCP-68 port 68

delete device template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan policies sdwan-policy-group Default-Policy rules rule Default-Rule
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE circuit-priorities priority 1 circuit-names local [ INT-WAN1 INT-WAN2 ]
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE circuit-priorities priority 1 circuit-names remote [ INT-WAN INT-WAN1 INT-WAN2 ]
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE circuit-priorities priority 2 circuit-names local [ INT-WAN1 INT-WAN2 ]
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE circuit-priorities priority 2 circuit-names remote [ LTE-WAN ]
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE connection-selection-method weighted-round-robin
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE recompute-timer 40
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE encryption optional
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan forwarding-profiles forwarding-profile DEFAULT-TRAFFIC-PROFILE symmetric-forwarding enable
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan policies sdwan-policy-group Default-Policy rules rule DEFAULT-TRAFFIC-RULE description DEFAULT-TRAFFIC-RULE
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan policies sdwan-policy-group Default-Policy rules rule DEFAULT-TRAFFIC-RULE set action allow
set devices template {{ PS_TEMPLATE_NAME }} config org org-services {{ ORG_NAME }} sd-wan policies sdwan-policy-group Default-Policy rules rule DEFAULT-TRAFFIC-RULE set forwarding-profile DEFAULT-TRAFFIC-PROFILE
delete devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance {{ ORG_NAME }}-Control-VR routing-options static route
delete devices template {{ PS_TEMPLATE_NAME }} config orgs org-services {{ ORG_NAME }} security access-policies access-policy-group Default-Policy
{% endif %}

#Below Lines should be applied depending on the Number LAN VRFs available. Below is the example for 10VRFs.

{% for VRF in range(NO_OF_VRFS) -%}
{%- set lan_number = VRF + 1 -%}
{%- set vrf_id = start_vrf_id + VRF -%}
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance LAN{{ lan_number }}-VRF vrf-import-target target:{{ vrf_id }}L:{{ vrf_id }}2
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance LAN{{ lan_number }}-VRF policy-options redistribution-policy Default-Policy-To-BGP term T3-STATIC match protocol static
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance LAN{{ lan_number }}-VRF policy-options redistribution-policy Default-Policy-To-BGP term T3-STATIC action filter accept
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance LAN{{ lan_number }}-VRF policy-options redistribution-policy Default-Policy-To-BGP term T3-STATIC action set-origin igp
set devices template {{ PS_TEMPLATE_NAME }} config routing-instances routing-instance LAN{{ lan_number }}-VRF policy-options redistribution-policy Default-Policy-To-BGP term T3-STATIC action set-local-preference 110
{% endfor -%}

set devices template {{ PS_TEMPLATE_NAME }} config snmp usm local user coltuser auth sha password Colt1234

set devices template {{ PS_TEMPLATE_NAME }} config system time-zone Greenwich
set devices template {{ PS_TEMPLATE_NAME }} config confdConfig cli banner "Access to this network/system is limited to users authorised by Colt for its legitimate business purposes. Unauthorised access, use, installation of files or modification of any data is prohibited. Use of this system/network will be audited"
set devices template {{ PS_TEMPLATE_NAME }} config system users portal login shell role admin password yA:D#{}Vn9JE-?Qa
set devices template {{ PS_TEMPLATE_NAME }} config system users portal ssh-public-key portal contents "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDo+WWU8BDyqZCYadUGElffuy1pkOo4nrg/yfOqV84G+ukVGf+SF48h+543zMxMmKTauHEqmSp+74IbSpN9buBom/BFpBTm3c66BErMmLNariqvfItG7CO9UBPqoXpUBAXnF/muohwe145jEyRRI4Lof2wK6F6qYjzTQHK+zp5IpV6D+VurfQ6fIQB2oUIj9c8OG3Zfyp33l9utdLCzR7Uo4OGt9GidMrO2mXSBWXb+L5o6MAiOB4EhKvVyG9O8+So7zHEcUI65bq3JWzLzM7w705ySVwitEeqCx2wS7v/2KNuHmI8kSQVOuXQ539V3PJThvlVPY7ABmrY5+4MZT+Fv novitas@colt.net"

set devices template {{ PS_TEMPLATE_NAME }} config system external-aaa auth-order remote-then-local
#set devices template {{ PS_TEMPLATE_NAME }} config system external-aaa tacacs-plus server 10.5.22.116 key C:ifiiape.
#set devices template {{ PS_TEMPLATE_NAME }} config system external-aaa tacacs-plus server 10.5.22.117 key C:ifiiape.
#set devices template {{ PS_TEMPLATE_NAME }} config system external-aaa tacacs-plus action [ accounting authentication ]