{
	"versanms.sdwan-device-workflow": {
		"deviceName": "{{ Device_name }}",
		"siteId": "{{ Site_id }}",
		"orgName": "{{ ORG_NAME }}",
		"serialNumber": "{{ Serial_Number }}",
		"deviceGroup": "{{ DG_TEMPLATE_NAME }}",
		"locationInfo": {
			"state": "karnataka",
			"country": "india",
			"longitude": "77.594563",
			"latitude": "12.971599",
			"city": "bangalore"
		},
		"postStagingTemplateInfo": {
			"templateName": "{{ PS_TEMPLATE_NAME }}",
			"templateData": {
				"device-template-variable": {
					"template": "{{ PS_TEMPLATE_NAME }}",
					"variable-binding": {
						"attrs": [{
							"name": "{$v_{{ INT_WAN_NAME }}_IPv4__staticaddress}",
							"value": "{{ INT_WAN_INTF_IP }}/30",
							"isAutogeneratable": false
						},
						{% for i in range(start_vlan, start_vlan+11) %}
						    {% set lan_number = loop.index %}
						    {% set unit_number = loop.index - 1 %}
						{ "name": "{$v_{{ LAN_INTF|replace("/", "-") }}_LAN{{ lan_number }}_Unit-{{ unit_number }}__unit}", "value": "{{ i }}", "isAutogeneratable": false},
						{ "name": "{$v_{{ LAN_INTF|replace("/", "-") }}_LAN{{ lan_number }}_Unit-{{ unit_number }}__vlanId}", "value": "{{ i }}", "isAutogeneratable": false },
						{% endfor %}
						{
							"name": "{$v_{{ ORG_NAME }}-Control-VR_16_Router_ID__vrRouteId}",
							"value": "{{ ESP_IP }}",
							"isAutogeneratable": true,
							"isOverwritten": false
						}, {
							"name": "{$v_{{ ORG_NAME }}_{{ WC1_NAME }}_Local_auth_email_key__IKELKey}",
							"value": "{{ WC1_local_ike_key|int }}",
							"isAutogeneratable": true
						}, {
							"name": "{$v_{{ ORG_NAME }}_{{ WC2_NAME }}_Local_auth_email_key__IKELKey}",
							"value": "{{ WC2_local_ike_key|int }}",
							"isAutogeneratable": true
						},
						{% for vlan in lan_vlan %}
						{% set lan_number = loop.index %}
						{% set value = lan[lan_number]['first_host'] %}
						{ "name": "{$v_LAN{{ lan_number }}_IPv4__staticaddress}", "value": "{{ value }}/24", "isAutogeneratable": false},
						{% endfor %}
						{
							"name": "{$v_{{ ORG_NAME }}_{{ WC2_NAME }}_Local_auth_email_identifier__IKELIdentifier}",
							"value": "{{ WC2_local_ike_id }}",
							"isAutogeneratable": true
						}, {
							"name": "{$v_Site_Id__siteSiteID}",
							"value": "{{ Site_id }}",
							"isAutogeneratable": true
						}, {
							"name": "{$v_{{ ORG_NAME }}_{{ WC1_NAME }}_Local_auth_email_identifier__IKELIdentifier}",
							"value": "{{ WC1_local_ike_id }}",
							"isAutogeneratable": true
						}, {
							"name": "{$v_{{ ORG_NAME }}_Site_Name__sitesSiteName}",
							"value": "{{ Device_name }}",
							"isAutogeneratable": true
						}, {
							"name": "{$v_latitude__IdLatitude}",
							"value": "12.971599",
							"isAutogeneratable": true
						}, {
							"name": "{$v_identification__IdName}",
							"value": "{{ Device_name }}",
							"isAutogeneratable": true
						}, {
							"name": "{$v_{{ INT_WAN_NAME }}-Transport-VR_IPv4__vrHopAddress}",
							"value": "{{ INT_WAN_INTF_NEXTHOP }}",
							"isAutogeneratable": false
						},	{
						    "name": "{$v_tvi-0-{{ vxlan_tvi_interface }}_-_Unit_0_Static_address__tunnelStaticAddress}",
							"value": "{{ VXLAN_IP }}/32",
							"isAutogeneratable": true,
							"isOverwritten": false
						}, {
							"name": "{$v_Chassis_Id__sitesChassisId}",
							"value": "{{ Serial_Number }}",
							"isAutogeneratable": true
						}, {
							"name": "{$v_longitude__Idlongitude}",
							"value": "77.594563",
							"isAutogeneratable": true
						}, {
							"name": "{$v_location__IdLocation}",
							"value": "bangalore,karnataka, india",
							"isAutogeneratable": true
						}, {
							"name": "{$v_{{ ORG_NAME }}-Control-VR_{{ ORG_ID }}_Local_address__vrRouterAddress}",
							"value": "{{ ESP_IP }}",
							"isAutogeneratable": true,
							"isOverwritten": false
						}, {
							"name": "{$v_{{ MPLS_WAN_NAME }}-Transport-VR_IPv4__vrHopAddress}",
							"value": "{{ MPLS_WAN_INTF_NEXTHOP }}",
							"isAutogeneratable": false
						}, {
							"name": "{$v_{{ MPLS_WAN_NAME }}_IPv4__staticaddress}",
							"value": "{{ MPLS_WAN_INTF_IP }}/30",
							"isAutogeneratable": false
						}, {
							"name": "{$v_tvi-0-{{ esp_tvi_interface }}_-_Unit_0_Static_address__tunnelStaticAddress}",
							"value": "{{ ESP_IP }}/32",
							"isAutogeneratable": true,
							"isOverwritten": false
						}]
					}
				},
				"variableMetadata": [{
					"variable": "{$v_{{ INT_WAN_NAME }}_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				},
                {% for i in range(start_vlan, start_vlan+11) %}
                {% set lan_number = loop.index %}
                {% set unit_number = loop.index - 1 %}
				{"variable": "{$v_{{ LAN_INTF|replace("/", "-") }}_LAN{{ lan_number }}_Unit-{{ unit_number }}__vlanId}", "group": "Vlan Info", "overlay": false, "type": "INTEGER"},
                {% endfor %}
				{
					"variable": "{$v_{{ ORG_NAME }}-Control-VR_{{ ORG_ID }}_Router_ID__vrRouteId}",
					"group": "Virtual Routers",
					"overlay": true,
					"type": "IPV4"
				}, {
					"variable": "{$v_{{ ORG_NAME }}_{{ WC1_NAME }}_Local_auth_email_key__IKELKey}",
					"group": "IPSEC",
					"overlay": false
				}, {
					"variable": "{$v_{{ ORG_NAME }}_{{ WC2_NAME }}_Local_auth_email_key__IKELKey}",
					"group": "IPSEC",
					"overlay": false
				}, {
					"variable": "{$v_LAN10_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_LAN9_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_LAN5_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_LAN1_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_LAN7_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_{{ ORG_NAME }}_{{ WC2_NAME }}_Local_auth_email_identifier__IKELIdentifier}",
					"group": "IPSEC",
					"overlay": false
				}, {
					"variable": "{$v_{{ LAN_INTF|replace("/", "-") }}_LAN10_Unit-9__unit}",
					"group": "Vlan Info",
					"overlay": false,
					"type": "INTEGER"
				}, {
					"variable": "{$v_Site_Id__siteSiteID}",
					"group": "SDWAN",
					"overlay": false
				}, {
					"variable": "{$v_LAN6_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_{{ ORG_NAME }}_{{ WC1_NAME }}_Local_auth_email_identifier__IKELIdentifier}",
					"group": "IPSEC",
					"overlay": false
				}, {
					"variable": "{$v_LAN2_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_LAN4_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_{{ ORG_NAME }}_Site_Name__sitesSiteName}",
					"group": "SDWAN",
					"overlay": false
				}, {
					"variable": "{$v_latitude__IdLatitude}",
					"group": "SDWAN",
					"overlay": false
				}, {
					"variable": "{$v_identification__IdName}",
					"group": "SDWAN",
					"overlay": false
				}, {
					"variable": "{$v_LAN3_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_{{ INT_WAN_NAME }}-Transport-VR_IPv4__vrHopAddress}",
					"group": "Virtual Routers",
					"overlay": false,
					"type": "IPV4_IPV6"
				}, {
					"variable": "{$v_tvi-0-{{ vxlan_tvi_interface }}_-_Unit_0_Static_address__tunnelStaticAddress}",
					"group": "Interfaces",
					"overlay": true,
					"type": "IPV4_IPV6_MASK"
				}, {
					"variable": "{$v_Chassis_Id__sitesChassisId}",
					"group": "SDWAN",
					"overlay": false
				}, {
					"variable": "{$v_longitude__Idlongitude}",
					"group": "SDWAN",
					"overlay": false
				}, {
					"variable": "{$v_LAN8_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_location__IdLocation}",
					"group": "SDWAN",
					"overlay": false
				}, {
					"variable": "{$v_{{ ORG_NAME }}-Control-VR_{{ ORG_ID }}_Local_address__vrRouterAddress}",
					"group": "Virtual Routers",
					"overlay": true,
					"type": "IPV4"
				}, {
					"variable": "{$v_{{ MPLS_WAN_NAME }}-Transport-VR_IPv4__vrHopAddress}",
					"group": "Virtual Routers",
					"overlay": false,
					"type": "IPV4_IPV6"
				}, {
					"variable": "{$v_{{ MPLS_WAN_NAME }}_IPv4__staticaddress}",
					"group": "Interfaces",
					"overlay": false,
					"type": "IPV4_MASK"
				}, {
					"variable": "{$v_tvi-0-{{ esp_tvi_interface }}_-_Unit_0_Static_address__tunnelStaticAddress}",
					"group": "Interfaces",
					"overlay": true,
					"type": "IPV4_IPV6_MASK"
				}]
			}
		}
	}
}