sudo /opt/versa/scripts/staging.py -w {{ STAGING_INTF }} -c {{ STAGING_CTRLR_IP }} -s {{ STAGING_Local_ip_with_mask }} -g {{ STAGING_nexthop }} -l {{ STAGING_ID }}  -r {{ Staging_remote_id }} -rk {{ Staging_remote_key }}
