set interfaces {{ VXLAN_TVI_INTERFACE }} enable true
set interfaces {{ VXLAN_TVI_INTERFACE }} mode ipsec
set interfaces {{ VXLAN_TVI_INTERFACE }} type p2mp-vxlan
set interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 enable true
set interfaces {{ VXLAN_TVI_INTERFACE }} description "VxLAN {{ ORG_NAME }} Management"
set interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 family
set interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 family inet
set interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 family inet address {{ VXLAN_ADDRESS }}/32

set interfaces {{ ESP_TVI_INTERFACE }} enable true
set interfaces {{ ESP_TVI_INTERFACE }} mode ipsec
set interfaces {{ ESP_TVI_INTERFACE }} type p2mp-esp
set interfaces {{ ESP_TVI_INTERFACE }} unit 0 enable true
set interfaces {{ ESP_TVI_INTERFACE }} description "ESP {{ ORG_NAME }} Management"
set interfaces {{ ESP_TVI_INTERFACE }} unit 0 enable true
set interfaces {{ ESP_TVI_INTERFACE }} unit 0 family
set interfaces {{ ESP_TVI_INTERFACE }} unit 0 family inet
set interfaces {{ ESP_TVI_INTERFACE }} unit 0 family inet address {{ ESP_ADDRESS }}/32
{% for VRF in range(NO_OF_VRFS) -%}
{%- set lan_number = VRF + 1 -%}
{%- set NNI1_VLAN = NNI_LAN[lan_number]['vlan'] %}
{%- set NNI_INTERFACE_ADDRESS = NNI_LAN[lan_number]['second_host'] %}
set interfaces vni-0/0 unit {{ NNI1_VLAN }} vlan-id {{ NNI1_VLAN }}
set interfaces vni-0/0 unit {{ NNI1_VLAN }} enable true
set interfaces vni-0/0 unit {{ NNI1_VLAN }} family
set interfaces vni-0/0 unit {{ NNI1_VLAN }} family inet
set interfaces vni-0/0 unit {{ NNI1_VLAN }} family inet address {{ NNI_INTERFACE_ADDRESS }}/30
{% endfor %}
set interfaces {{ PAIRED_TVI_INTERFACE1 }} enable true
set interfaces {{ PAIRED_TVI_INTERFACE1 }} mode ipsec
set interfaces {{ PAIRED_TVI_INTERFACE1 }} type paired
set interfaces {{ PAIRED_TVI_INTERFACE1 }} paired-interface {{ PAIRED_TVI_INTERFACE2 }}
set interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 enable true
set interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 family
set interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 family inet
set interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 family inet address 10.63.47.65/30

set interfaces {{ PAIRED_TVI_INTERFACE2 }} mode ipsec
set interfaces {{ PAIRED_TVI_INTERFACE2 }} type paired
set interfaces {{ PAIRED_TVI_INTERFACE2 }} paired-interface {{ PAIRED_TVI_INTERFACE1 }}
set interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 enable true
set interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 family
set interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 family inet
set interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 family inet address 10.63.47.66/30


set networks {{ ORG_NAME }}-MPLS1 interfaces [ vni-0/0.{{ NNI1_VLAN }} ]
set orgs org {{ ORG_NAME }} available-routing-instances [ INT-TRANSP-VR MPLS-TRANSP-VR {{ ORG_NAME }}-Control-VR {{ ORG_NAME }}-EXPORT1-VRF {{ ORG_NAME }}-LAN1-VRF ]
set orgs org {{ ORG_NAME }} traffic-identification using [ {{ PTVI_INTERFACE1 }} {{ PTVI_INTERFACE2 }} {{ VXLAN_TVI_INTERFACE }}.0 {{ ESP_TVI_INTERFACE }}.0 {{ PAIRED_TVI_INTERFACE1 }}.0 {{ PAIRED_TVI_INTERFACE2 }}.0 ]
set orgs org {{ ORG_NAME }} owned-routing-instances [ INT-TRANSP-VR MPLS-TRANSP-VR {{ ORG_NAME }}-Control-VR {{ ORG_NAME }}-EXPORT1-VRF {{ ORG_NAME }}-LAN1-VRF ]

set orgs org {{ ORG_NAME }} traffic-identification using-networks [ {{ ORG_NAME }}-MPLS1 ]
set orgs org {{ ORG_NAME }} available-provider-orgs [ {{ ORG_NAME }} ]
set orgs org {{ ORG_NAME }} available-service-node-groups [ default-sng ]
set orgs org {{ ORG_NAME }} sd-wan site
set orgs org {{ ORG_NAME }} sd-wan site global-tenant-id {{ ORG_ID }}
set orgs org {{ ORG_NAME }} sd-wan site site-name {{ VNF_GATEWAY_HOSTNAME }}
set orgs org {{ ORG_NAME }} sd-wan site management-routing-instance {{ ORG_NAME }}-Control-VR
set orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ INTERNET_INTERFACE }} sla-monitoring fc_be interval 1
set orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ INTERNET_INTERFACE }} sla-monitoring fc_be logging-interval 5
set orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ INTERNET_INTERFACE }} encryption optional
set orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ MPLS_INTERFACE }} sla-monitoring fc_be interval 1
set orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ MPLS_INTERFACE }} sla-monitoring fc_be logging-interval 5
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses IKE ip-address {{ WAN_CONTROLLER1_VXLAN_ADDRESS }}
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses IKE routing-instance {{ ORG_NAME }}-Control-VR
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses secure ip-address {{ WAN_CONTROLLER1_ESP_ADDRESS }}
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses secure routing-instance {{ ORG_NAME }}-Control-VR
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses IKE ip-address {{ WAN_CONTROLLER2_VXLAN_ADDRESS }}
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses IKE routing-instance {{ ORG_NAME }}-Control-VR
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses secure ip-address {{ WAN_CONTROLLER2_ESP_ADDRESS }}
set orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses secure routing-instance {{ ORG_NAME }}-Control-VR

set orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set action allow
set orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set lef profile Default-Logging-Profile
set orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set lef event end
set orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set lef options send-pcap-data enable false
set orgs org-services {{ ORG_NAME }} objects zones trust
set orgs org-services {{ ORG_NAME }} objects zones untrust
set orgs org-services {{ ORG_NAME }} objects zones host
set orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control profile Default-Logging-Profile
set orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control options
set orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control options stats
set orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control options stats all
set orgs org-services {{ ORG_NAME }} traffic-monitoring policies Analytics-policy rules rule1 set lef profile Default-Logging-Profile
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 destination-address {{ LOG_COLLECTOR1_ADDRESS }}
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 destination-port 5140
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 routing-instance {{ ORG_NAME }}-Control-VR
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 transport tcp
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 template Default-LEF-Template
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 destination-address {{ LOG_COLLECTOR2_ADDRESS }}
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 destination-port 5140
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 routing-instance {{ ORG_NAME }}-Control-VR
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 transport tcp
set orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 template Default-LEF-Template
set orgs org-services {{ ORG_NAME }} lef collector-groups Default-Collector-Group collectors [ LEF-Collector-log_collector1 LEF-Collector-log_collector2 ]
set orgs org-services {{ ORG_NAME }} lef templates Default-LEF-Template type ipfix
set orgs org-services {{ ORG_NAME }} lef profiles Default-Logging-Profile collector-group Default-Collector-Group
set orgs org-services {{ ORG_NAME }} lef default-profile Default-Logging-Profile
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 vpn-type branch-sdwan
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info auth-type psk
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info id-type email
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info key {{ LOCAL_AUTH_KEY }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info id-string {{ LOCAL_AUTH_STRING }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local address {{ VXLAN_ADDRESS }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 routing-instance {{ ORG_NAME }}-Control-VR
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 tunnel-routing-instance {{ ORG_NAME }}-Control-VR
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 tunnel-initiate automatic
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec fragmentation pre-fragmentation
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec transform esp-aes128-sha1
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec mode tunnel
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec pfs-group mod-none
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec anti-replay enable
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec life duration 25000
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike version v2
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike group mod19
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike transform aes128-sha1
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike lifetime 27000
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike dpd-timeout 10
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info auth-type psk
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info id-type email
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info key {{ WAN_CONTROLLER1_AUTH_KEY }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info id-string {{ WAN_CONTROLLER1_AUTH_STRING }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer address {{ WAN_CONTROLLER1_VXLAN_ADDRESS }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 tunnel-interface {{ PTVI_INTERFACE1 }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 vpn-type branch-sdwan
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info auth-type psk
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info id-type email
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info key {{ LOCAL_AUTH_KEY }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info id-string {{ LOCAL_AUTH_STRING }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local address {{ VXLAN_ADDRESS }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 routing-instance {{ ORG_NAME }}-Control-VR
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 tunnel-routing-instance {{ ORG_NAME }}-Control-VR
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 tunnel-initiate automatic
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec fragmentation pre-fragmentation
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec transform esp-aes128-sha1
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec mode tunnel
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec pfs-group mod-none
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec anti-replay enable
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec life duration 25000
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike version v2
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike group mod19
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike transform aes128-sha1
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike lifetime 27000
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike dpd-timeout 10
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info auth-type psk
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info id-type email
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info key {{ WAN_CONTROLLER2_AUTH_KEY }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info id-string {{ WAN_CONTROLLER2_AUTH_STRING }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer address {{ WAN_CONTROLLER2_VXLAN_ADDRESS }}
set orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 tunnel-interface {{ PTVI_INTERFACE2 }}

set routing-instances {{ ORG_NAME }}-Control-VR instance-type virtual-router
set routing-instances {{ ORG_NAME }}-Control-VR mpls-vpn-core
set routing-instances {{ ORG_NAME }}-Control-VR interfaces [ {{ PTVI_INTERFACE1 }} {{ PTVI_INTERFACE2 }} {{ VXLAN_TVI_INTERFACE }}.0 {{ ESP_TVI_INTERFACE }}.0 ]
set routing-instances {{ ORG_NAME }}-Control-VR routing-options mpls-vpn-local-router-address {{ ESP_ADDRESS }}
set routing-instances {{ ORG_NAME }}-Control-VR routing-options static route 0.0.0.0/0 {{ ESP_ADDRESS }} {{ ESP_TVI_INTERFACE }}.0 preference 1
set routing-instances {{ ORG_NAME }}-Control-VR routing-options static route 0.0.0.0/0 {{ ESP_ADDRESS }} {{ ESP_TVI_INTERFACE }}.0 tag 0
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} router-id {{ ESP_ADDRESS }}
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} hold-time 90
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} peer-as 65505
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap free-max-time 180
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap reuse-max-time 60
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap reuse-size 256
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap reuse-array-size 1024
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart enable
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart maximum-restart-time 120
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart recovery-time 120
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart select-defer-time 120
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart stalepath-time 120
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart dynamic-peer-restart-time 0

set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} ibgp-preference 200
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} ebgp-preference 20
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} local-as as-number 65505
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC type internal
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC family inet unicast
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC family inet versa-private
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC family inet-vpn unicast
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection minimum-receive-interval 1000
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection multiplier 3
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection transmit-interval minimum-interval 1000
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER1_ESP_ADDRESS }}
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER1_ESP_ADDRESS }} peer-as 65505
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER2_ESP_ADDRESS }}
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER2_ESP_ADDRESS }} peer-as 65505
set routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} debug level debug

set routing-instances {{ ORG_NAME }}-EXPORT1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-BGP match protocol bgp
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-BGP action accept
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF policy-options redistribute-to-bgp REDIS-TO-BGP
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF instance-type vrf
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF global-vrf-id {{ VRF1_ID }}2
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF mpls-vpn-core-instance {{ ORG_NAME }}-Control-VR
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF interfaces [ {{ PAIRED_TVI_INTERFACE2 }}.0 ]
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF route-distinguisher {{ VRF1_ID }}L:{{ VRF1_ID }}2
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF vrf-export-target target:{{ VRF1_ID }}L:{{ VRF1_ID }}2
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 route-flap free-max-time 180
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 route-flap reuse-max-time 60
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 route-flap reuse-size 256
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 route-flap reuse-array-size 1024
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 graceful-restart maximum-restart-time 120
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 graceful-restart recovery-time 120
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 graceful-restart select-defer-time 120
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 graceful-restart stalepath-time 120
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 graceful-restart dynamic-peer-restart-time 0
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 prefix-list NNI1-INT seq 10 permit
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 prefix-list NNI1-INT seq 10 address-family ipv4 unicast address-mask {{ NNI1_SUBNET }}
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 prefix-list NNI1-INT seq 10 address-family ipv4 unicast ge_le ge 30
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 prefix-list NNI1-INT seq 10 address-family ipv4 unicast ge_le le 32

set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 routing-peer-policy IMPORT-POLICY-FROM-LAN-VRF term 1REJECT-NNI-INT match ip nlri prefix-list NNI1-INT
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 routing-peer-policy IMPORT-POLICY-FROM-LAN-VRF term 1REJECT-NNI-INT action reject
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 routing-peer-policy IMPORT-POLICY-FROM-LAN-VRF term 2REJECT-NNI-ROUTES match community "(^|,){{ LCC }}:20($|,)"
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 routing-peer-policy IMPORT-POLICY-FROM-LAN-VRF term 2REJECT-NNI-ROUTES action reject
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 routing-peer-policy IMPORT-POLICY-FROM-LAN-VRF term 3ACCEPT-REST action accept
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 routing-peer-policy IMPORT-POLICY-FROM-LAN-VRF term 3ACCEPT-REST action community {{ LCC }}:1{{ GW_NUMBER }}
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 routing-peer-policy IMPORT-POLICY-FROM-LAN-VRF term 3ACCEPT-REST action community-action set-specific

set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 router-id 10.63.47.66
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 ibgp-preference 200
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 ebgp-preference 20
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 local-as as-number 65506
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 group EBGP-With-LAN_VRF type external
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 group EBGP-With-LAN_VRF import IMPORT-POLICY-FROM-LAN-VRF
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 group EBGP-With-LAN_VRF neighbor 10.63.47.65 local-address 10.63.47.66
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 group EBGP-With-LAN_VRF neighbor 10.63.47.65 peer-as 15404
set routing-instances {{ ORG_NAME }}-EXPORT1-VRF protocols bgp {{ ORG_ID }}02 debug level debug

set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-BGP match protocol bgp
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-BGP action accept
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-BGP action set-origin igp
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-DIRECT match protocol direct
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-DIRECT action accept
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-DIRECT action set-origin igp
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-STATIC match protocol static
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-STATIC action accept
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribution-policy REDIS-TO-BGP term ACCEPT-STATIC action set-origin igp
set routing-instances {{ ORG_NAME }}-LAN1-VRF policy-options redistribute-to-bgp REDIS-TO-BGP
set routing-instances {{ ORG_NAME }}-LAN1-VRF instance-type vrf
set routing-instances {{ ORG_NAME }}-LAN1-VRF global-vrf-id {{ VRF1_ID }}
set routing-instances {{ ORG_NAME }}-LAN1-VRF networks [ {{ ORG_NAME }}-MPLS1 ]
set routing-instances {{ ORG_NAME }}-LAN1-VRF mpls-vpn-core-instance {{ ORG_NAME }}-Control-VR
set routing-instances {{ ORG_NAME }}-LAN1-VRF interfaces [ {{ PAIRED_TVI_INTERFACE1 }}.0 ]
set routing-instances {{ ORG_NAME }}-LAN1-VRF route-distinguisher {{ VRF1_ID }}L:{{ VRF1_ID }}
set routing-instances {{ ORG_NAME }}-LAN1-VRF vrf-import-target target:{{ VRF1_ID }}L:{{ VRF1_ID }}
set routing-instances {{ ORG_NAME }}-LAN1-VRF vrf-export-target target:{{ VRF1_ID }}L:{{ VRF1_ID }}2
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 route-flap free-max-time 180
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 route-flap reuse-max-time 60
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 route-flap reuse-size 256
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 route-flap reuse-array-size 1024
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 graceful-restart maximum-restart-time 120
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 graceful-restart recovery-time 120
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 graceful-restart select-defer-time 120
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 graceful-restart stalepath-time 120
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 graceful-restart dynamic-peer-restart-time 0
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 prefix-list PTVI-INT seq 10 permit
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 prefix-list PTVI-INT seq 10 address-family ipv4 unicast address-mask 10.63.47.64/30
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 prefix-list PTVI-INT seq 10 address-family ipv4 unicast ge_le ge 30
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 prefix-list PTVI-INT seq 10 address-family ipv4 unicast ge_le le 32

set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 1REJECT-PTVI-INT match ip nlri prefix-list PTVI-INT
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 1REJECT-PTVI-INT action reject
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 2REJECT-LOOP match community "(^|,){{ LCC }}:1{{ GW_NUMBER }}($|,)"
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 2REJECT-LOOP action reject
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 3ADD-SDWAN-COMM match community "(^|,){{ LCC }}:10($|,)"
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 3ADD-SDWAN-COMM action accept
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 3ADD-SDWAN-COMM action community 100:10
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 3ADD-SDWAN-COMM action community-action set-specific
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-POLICY-NNI term 4DENY-REST action reject
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-PAIR-TVI-LOOP-PREV term 1DENY-LOOP match community "(^|,){{ LCC }}:1{{ GW_NUMBER }}($|,)"
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-PAIR-TVI-LOOP-PREV term 1DENY-LOOP action reject
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy EXPORT-PAIR-TVI-LOOP-PREV term 2ALLOW-REST action accept
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy IMPORT-POLICY-NNI term 1REJECT-SDWAN-ROUTES match community "(^|,)100:10($|,)"
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy IMPORT-POLICY-NNI term 1REJECT-SDWAN-ROUTES action reject
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy IMPORT-POLICY-NNI term 2ACCEPT-REST action accept
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy IMPORT-POLICY-NNI term 2ACCEPT-REST action community {{ LCC }}:20
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 routing-peer-policy IMPORT-POLICY-NNI term 2ACCEPT-REST action community-action set-specific
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 router-id {{ NNI1_INTERFACE_ADDRESS }}
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 ibgp-preference 200
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 ebgp-preference 20
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 local-as as-number 15404
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-WITH-EXPORT_VRF type external
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-WITH-EXPORT_VRF export EXPORT-PAIR-TVI-LOOP-PREV
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-WITH-EXPORT_VRF neighbor 10.63.47.66 local-address 10.63.47.65
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-WITH-EXPORT_VRF neighbor 10.63.47.66 peer-as 65506
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-With-SAR-TypeA-NNI type external
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-With-SAR-TypeA-NNI import IMPORT-POLICY-NNI
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-With-SAR-TypeA-NNI export EXPORT-POLICY-NNI
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-With-SAR-TypeA-NNI neighbor {{ NNI1_GATEWAY_ADDRESS }} local-address {{ NNI1_INTERFACE_ADDRESS }}
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 group EBGP-With-SAR-TypeA-NNI neighbor {{ NNI1_GATEWAY_ADDRESS }} peer-as 8220
set routing-instances {{ ORG_NAME }}-LAN1-VRF protocols bgp {{ ORG_ID }}01 debug level debug