set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} mode ipsec
set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} type p2mp-vxlan
set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} description "VxLAN {{ ORG_NAME }} Management"
set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 family
set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 family inet
set devices device {{ DEVICE_NAME }} config interfaces {{ VXLAN_TVI_INTERFACE }} unit 0 family inet address {{ VXLAN_ADDRESS }}/32

set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} mode ipsec
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} type p2mp-esp
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} unit 0 enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} description "ESP {{ ORG_NAME }} Management"
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} unit 0 enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} unit 0 family
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} unit 0 family inet
set devices device {{ DEVICE_NAME }} config interfaces {{ ESP_TVI_INTERFACE }} unit 0 family inet address {{ ESP_ADDRESS }}/32


set devices device {{ DEVICE_NAME }} config interfaces {{ PTVI_INTERFACE1 }} parent-interface {{ ESP_TVI_INTERFACE }}.0
set devices device {{ DEVICE_NAME }} config interfaces {{ PTVI_INTERFACE1 }} remote-address {{ WAN_CONTROLLER1_ESP_ADDRESS }}
set devices device {{ DEVICE_NAME }} config interfaces {{ PTVI_INTERFACE2 }} parent-interface {{ ESP_TVI_INTERFACE }}.0
set devices device {{ DEVICE_NAME }} config interfaces {{ PTVI_INTERFACE2 }} remote-address {{ WAN_CONTROLLER2_ESP_ADDRESS }}




{% for VRF in range(NO_OF_VRFS) -%}
{%- set lan_number = VRF + 1 -%}
{%- set NNI1_VLAN = NNI_LAN[lan_number]['vlan'] %}
{%- set NNI_INTERFACE_ADDRESS = NNI_LAN[lan_number]['second_host'] %}
set devices device {{ DEVICE_NAME }} config interfaces vni-0/0 unit {{ NNI1_VLAN }} vlan-id {{ NNI1_VLAN }}
set devices device {{ DEVICE_NAME }} config interfaces vni-0/0 unit {{ NNI1_VLAN }} enable true
set devices device {{ DEVICE_NAME }} config interfaces vni-0/0 unit {{ NNI1_VLAN }} family
set devices device {{ DEVICE_NAME }} config interfaces vni-0/0 unit {{ NNI1_VLAN }} family inet
set devices device {{ DEVICE_NAME }} config interfaces vni-0/0 unit {{ NNI1_VLAN }} family inet address {{ NNI_INTERFACE_ADDRESS }}/30
{% endfor %}

{% for VRF in range(NO_OF_VRFS) -%}
{%- set lan_number = VRF + 1 -%}
{%- set NNI1_VLAN = NNI_LAN[lan_number]['vlan'] %}
{%- set NNI_INTERFACE_ADDRESS = NNI_LAN[lan_number]['second_host'] %}
{%- set PAIRED_TVI_INTERFACE1 = "tvi-0/" + (ORG_ID * 10 + 120 + VRF)|string %}
{%- set PAIRED_TVI_INTERFACE2 = "tvi-0/" + (ORG_ID * 10 + 2020 + VRF)|string %}
{%- set PAIRED_TVI_INTERFACE1_address = PAIRED_TVI_LAN[lan_number]['first_host'] %}
{%- set PAIRED_TVI_INTERFACE2_address = PAIRED_TVI_LAN[lan_number]['second_host'] %}


set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} mode ipsec
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} type paired
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} paired-interface {{ PAIRED_TVI_INTERFACE2 }}
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 family
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 family inet
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE1 }} unit 0 family inet address {{ PAIRED_TVI_INTERFACE1_address }}/30

set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE2 }} mode ipsec
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE2 }} type paired
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE2 }} paired-interface {{ PAIRED_TVI_INTERFACE1 }}
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 enable true
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 family
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 family inet
set devices device {{ DEVICE_NAME }} config interfaces {{ PAIRED_TVI_INTERFACE2 }} unit 0 family inet address {{ PAIRED_TVI_INTERFACE2_address }}/30

set devices device {{ DEVICE_NAME }} config networks {{ ORG_NAME }}-MPLS{{ lan_number }} interfaces [ vni-0/0.{{ NNI1_VLAN }} ]


{% endfor %}



set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} available-routing-instances [ INT-TRANSP-VR MPLS-TRANSP-VR {{ ORG_NAME }}-Control-VR {{ EXPORT_VRFS_SET }}{{ LAN_VRFS_SET }}]
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} traffic-identification using [ {{ PTVI_INTERFACE1 }} {{ PTVI_INTERFACE2 }} {{ VXLAN_TVI_INTERFACE }}.0 {{ ESP_TVI_INTERFACE }}.0 {{ PAIRED_TVI_INTERFACE_SET }}]
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} owned-routing-instances [ INT-TRANSP-VR MPLS-TRANSP-VR {{ ORG_NAME }}-Control-VR {{ ORG_NAME }}-EXPORT1-VRF {{ ORG_NAME }}-LAN1-VRF ]
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} traffic-identification using-networks [ {{ MPLS_NW_SET }}]

set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} available-provider-orgs [ {{ ORG_NAME }} ]
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} available-service-node-groups [ default-sng ]
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site global-tenant-id {{ ORG_ID }}
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site site-name {{ VNF_GATEWAY_HOSTNAME }}
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site management-routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ INTERNET_INTERFACE }} sla-monitoring fc_be interval 1
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ INTERNET_INTERFACE }} sla-monitoring fc_be logging-interval 5
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ INTERNET_INTERFACE }} encryption optional
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ MPLS_INTERFACE }} sla-monitoring fc_be interval 1
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan site wan-interfaces {{ MPLS_INTERFACE }} sla-monitoring fc_be logging-interval 5
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses IKE ip-address {{ WAN_CONTROLLER1_VXLAN_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses IKE routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses secure ip-address {{ WAN_CONTROLLER1_ESP_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER1_HOSTNAME }} management-addresses secure routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses IKE ip-address {{ WAN_CONTROLLER2_VXLAN_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses IKE routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses secure ip-address {{ WAN_CONTROLLER2_ESP_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org {{ ORG_NAME }} sd-wan controllers {{ WAN_CONTROLLER2_HOSTNAME }} management-addresses secure routing-instance {{ ORG_NAME }}-Control-VR

set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set action allow
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set lef profile Default-Logging-Profile
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set lef event end
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} security access-policies Policy1 rules R1 set lef options send-pcap-data enable false
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} objects zones trust
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} objects zones untrust
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} objects zones host
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control profile Default-Logging-Profile
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control options
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control options stats
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} traffic-monitoring logging-control Default-Logging-Control options stats all
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} traffic-monitoring policies Analytics-policy rules rule1 set lef profile Default-Logging-Profile
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 destination-address {{ LOG_COLLECTOR1_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 destination-port 5140
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 transport tcp
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector1 template Default-LEF-Template
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 destination-address {{ LOG_COLLECTOR2_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 destination-port 5140
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 transport tcp
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collectors LEF-Collector-log_collector2 template Default-LEF-Template
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef collector-groups Default-Collector-Group collectors [ LEF-Collector-log_collector1 LEF-Collector-log_collector2 ]
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef templates Default-LEF-Template type ipfix
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef profiles Default-Logging-Profile collector-group Default-Collector-Group
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} lef default-profile Default-Logging-Profile
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 vpn-type branch-sdwan
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info auth-type psk
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info id-type email
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info key {{ LOCAL_AUTH_KEY }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local-auth-info id-string {{ LOCAL_AUTH_STRING }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 local address {{ VXLAN_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 tunnel-routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 tunnel-initiate automatic
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec fragmentation pre-fragmentation
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec transform esp-aes128-sha1
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec mode tunnel
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec pfs-group mod-none
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec anti-replay enable
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ipsec life duration 25000
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike version v2
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike group mod19
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike transform aes128-sha1
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike lifetime 27000
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 ike dpd-timeout 10
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info auth-type psk
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info id-type email
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info key {{ WAN_CONTROLLER1_AUTH_KEY }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer-auth-info id-string {{ WAN_CONTROLLER1_AUTH_STRING }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 peer address {{ WAN_CONTROLLER1_VXLAN_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL1 tunnel-interface {{ PTVI_INTERFACE1 }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 vpn-type branch-sdwan
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info auth-type psk
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info id-type email
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info key {{ LOCAL_AUTH_KEY }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local-auth-info id-string {{ LOCAL_AUTH_STRING }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 local address {{ VXLAN_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 tunnel-routing-instance {{ ORG_NAME }}-Control-VR
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 tunnel-initiate automatic
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec fragmentation pre-fragmentation
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec transform esp-aes128-sha1
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec mode tunnel
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec pfs-group mod-none
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec anti-replay enable
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ipsec life duration 25000
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike version v2
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike group mod19
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike transform aes128-sha1
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike lifetime 27000
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 ike dpd-timeout 10
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info auth-type psk
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info id-type email
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info key {{ WAN_CONTROLLER2_AUTH_KEY }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer-auth-info id-string {{ WAN_CONTROLLER2_AUTH_STRING }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 peer address {{ WAN_CONTROLLER2_VXLAN_ADDRESS }}
set devices device {{ DEVICE_NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile GW-CTRL2 tunnel-interface {{ PTVI_INTERFACE2 }}

set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR instance-type virtual-router
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR mpls-vpn-core
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR interfaces [ {{ PTVI_INTERFACE1 }} {{ PTVI_INTERFACE2 }} {{ VXLAN_TVI_INTERFACE }}.0 {{ ESP_TVI_INTERFACE }}.0 ]
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR routing-options mpls-vpn-local-router-address {{ ESP_ADDRESS }}
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR routing-options static route 0.0.0.0/0 {{ ESP_ADDRESS }} {{ ESP_TVI_INTERFACE }}.0 preference 1
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR routing-options static route 0.0.0.0/0 {{ ESP_ADDRESS }} {{ ESP_TVI_INTERFACE }}.0 tag 0
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} hold-time 90
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} peer-as 65505
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap free-max-time 180
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap reuse-max-time 60
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap reuse-size 256
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} route-flap reuse-array-size 1024
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart enable
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart maximum-restart-time 120
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart recovery-time 120
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart select-defer-time 120
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart stalepath-time 120
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart dynamic-peer-restart-time 0

set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} router-id {{ ESP_ADDRESS }}
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} ibgp-preference 200
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} ebgp-preference 20
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} local-as as-number 65505
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC type internal
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC family inet unicast
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC family inet versa-private
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC family inet-vpn unicast
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection minimum-receive-interval 1000
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection multiplier 3
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC bfd-liveness-detection transmit-interval minimum-interval 1000
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER1_ESP_ADDRESS }}
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER1_ESP_ADDRESS }} peer-as 65505
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER2_ESP_ADDRESS }}
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} group GW-WC neighbor {{ WAN_CONTROLLER2_ESP_ADDRESS }} peer-as 65505
set devices device {{ DEVICE_NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} debug level debug
