set devices template {{ NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile {{ VPN_PROFILE }} ike transform {{ IKE_TRANSFORM }}
set devices template {{ NAME }} config orgs org-services {{ ORG_NAME }} ipsec vpn-profile {{ VPN_PROFILE }} ipsec transform {{ IPSEC_TRANSFORM }}
