{
	"device-group": {
		"name": "{{ DG_TEMPLATE_NAME }}",
		"dg:organization": "{{ ORG_NAME }}",
		"dg:enable-2factor-auth": false,
		"dg:enable-staging-url": false,
		"dg:poststaging-template": "{{ PS_TEMPLATE_NAME }}"
	}
}