{
	"device-group": {
		"name": "{{ SECONDARY_DG_TEMPLATE_NAME }}",
		"dg:organization": "{{ ORG_NAME }}",
		"dg:enable-2factor-auth": false,
		"dg:enable-staging-url": false,
		"dg:poststaging-template": "{{ SECONDARY_PS_TEMPLATE_NAME }}"
	}
}

