set devices device {{ NAME }} config system external-aaa auth-order remote-then-local
set devices device {{ NAME }} config system external-aaa tacacs-plus
set devices device {{ NAME }} config system external-aaa tacacs-plus server 10.5.22.116 key C:ifiiape.
set devices device {{ NAME }} config system external-aaa tacacs-plus action [ authentication accounting ]
set devices device {{ NAME }} config system vnf-manager ip-addresses [ 10.5.0.0/16 10.5.2.128/26 10.5.2.64/26 10.5.20.67/32 10.5.20.68/32 10.5.22.192/27 10.7.1.80/32 212.74.77.202/32 ]
