{
  "versanms.sdwan-org-workflow": {
    "orgName": "{{ ORG_NAME }}",
    "globalId": "{{ ORG_ID }}",
    "parentOrg": "Colt",
    "ikeAuthType": "psk",
    "sharedControlPlane": false,
    "controllers": {{ CONTROLLERS|replace("'", '"') }},
    "vrfs": [
    {%- for VRF in range(NO_OF_VRFS) -%}
    {%- set lan_number = VRF + 1 -%}
    {%- set lan_id =   ORG_ID   * 10  + 120 +   VRF -%}
    { "name": "LAN{{ lan_number }}-VRF", "id": "{{ lan_id }}", "enableVPN": "true", "tooltip": "" }
    {%- if not loop.last -%}
        ,
    {%- endif -%}
    {%- endfor -%}
    ],
    "supportedRoles": []
  }
}
