{% if LIB1 is defined or LIB2 is defined%}
set devices device {{ Device_name }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies Default-Policy rules WAN_IN set action allow
set devices device {{ Device_name }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies Default-Policy rules WAN_IN match source zone zone-list [ Intf-INT-WAN2-Zone Intf-INT-WAN2-Failover-Zone Intf-INT-WAN1-Zone ]
set devices device {{ Device_name }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies Default-Policy rules WAN_OUT set action allow
set devices device {{ Device_name }} config orgs org-services {{ ORG_NAME }} class-of-service qos-policies Default-Policy rules WAN_OUT match destination zone zone-list [ Intf-INT-WAN2-Zone Intf-INT-WAN2-Failover-Zone Intf-INT-WAN1-Zone ]
{% endif -%}

{% for i in range(1,  NO_OF_VRFS+1) %}
{% set lan_number = loop.index %}
{% set vlanid = lan[i]['vlan'] %}
{% set lan_ip_address = lan[lan_number]['third_host'] %}
{% set lan_ip_prefixlen = lan[lan_number]['prefixlen'] %}
set devices device {{ Device_name }} config interfaces {{ LAN_INTF }} unit {{ vlanid }} family inet address {{ lan_ip_address }}/{{ lan_ip_prefixlen }} vrrp-group {{ lan_number }} priority 100
set devices device {{ Device_name }} config interfaces {{ LAN_INTF }} unit {{ vlanid }} family inet address {{ lan_ip_address }}/{{ lan_ip_prefixlen }} vrrp-group {{ lan_number }} track route 0.0.0.0/0 priority-cost 10
set devices device {{ Device_name }} config interfaces {{ LAN_INTF }} unit {{ vlanid }} family inet address {{ lan_ip_address }}/{{ lan_ip_prefixlen }} vrrp-group {{ lan_number }} track route 0.0.0.0/0 routing-instance LAN{{ lan_number }}-VRF
set devices device {{ Device_name }} config interfaces {{ LAN_INTF }} unit {{ vlanid }} family inet address {{ lan_ip_address }}/{{ lan_ip_prefixlen }} vrrp-group {{ lan_number }} warmup-interval 1
{% endfor -%}

