{
	"rule": {
		"name": "{{ name }}",
		"tag": [],
		"match": {
			"source": {
				"zone": {},
				"address": {
				{% if src_address_obj is defined -%}
					"address-list": ["{{ src_address_obj }}"]
				{% endif %}
				},
				"user": {
					"user-type": "any",
					"local-database": {
						"status": "disabled"
					},
					"external-database": {
						"status": "disabled"
					}
				}
			},
			"destination": {
				"zone": {},
				"address": {
				{% if dest_address_obj is defined -%}
					"address-list": ["{{ dest_address_obj }}"]
				{% endif %}
				}
			},
			"application": {
				{% if application is defined -%}
				"predefined-application-list": ["{{ application }}"]
				{% endif %}
			},
			"ttl": {}
		},
		"set": {
			"lef": {
				"event": "never",
				"rate-limit": 10
			},
			"action": "allow",
			"forwarding-profile": "{{ fwd_profile_name }}"
		},
		"monitor": {
			"interval": "3",
			"threshold": "5"
		}
	}
}